:root{
    --vermelho: #FF0000;
    --preto: #000000;
}

body{
    color: white;
    background: var(--preto);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h2{
    color: rgb(255, 0, 0);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header .container{
    display: flex ;
    flex-direction: row;
    align-items: centrer;
    justify-content: space-between;

}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 30px;
}

header nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.20), rgba(0,0,0.20)100%) ,url(/img/capa-celestino.png);
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 10px;
    
}

.filme-principal .descricao{
    margin: 10px;
    margin-bottom: 40px;
    text-justify: auto;
    padding-right: 100px;
}

.botoes{
    margin: 10px;
}

.botao{
    background-color: rgba(0,0,0,.40);
    border: none;
    color:white;
    
    padding: 15px 30px;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    transition: 0.7s ease all;

    margin: 5px;
}
.botao:hover{
    background-color: white;
    color:black;

}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}